.vscode/
cmake/
*.cmake
*.check_cache
Makefile
build/ZERO_CHECK.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/Win32/Debug/ALL_BUILD/ALL_BUILD.recipe
build/Debug/actions.ext.2.l4d2.pdb
build/Debug/actions.ext.2.l4d2.lib
build/Debug/actions.ext.2.l4d2.ilk
build/Debug/actions.ext.2.l4d2.exp
build/Debug/actions.ext.2.l4d2.dll
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/b457ddc001e39d92bf07e6f26aa51620/generate.stamp.rule
build/CMakeFiles/3.22.0-rc2/VCTargetsPath.vcxproj
build/CMakeFiles/3.22.0-rc2/VCTargetsPath.txt
build/CMakeFiles/3.22.0-rc2/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.22.0-rc2/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.22.0-rc2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.22.0-rc2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.22.0-rc2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.0-rc2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.0-rc2/CMakeDetermineCompilerABI_C.bin
build/CMakeCache.txt
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj
build/actions_ext.sln
build/actions.ext.2.l4d2.vcxproj.filters
build/actions.ext.2.l4d2.vcxproj
build/actions.ext.2.l4d2.dir/Debug/vc142.pdb
build/actions.ext.2.l4d2.dir/Debug/smsdk_ext.obj
build/actions.ext.2.l4d2.dir/Debug/extension.obj
build/actions.ext.2.l4d2.dir/Debug/actions_propagate.obj
build/actions.ext.2.l4d2.dir/Debug/actions_processor.obj
build/actions.ext.2.l4d2.dir/Debug/actions_manager.obj
build/actions.ext.2.l4d2.dir/Debug/actions.ext.2.l4d2.dll.recipe
build/actions.ext.2.l4d2.dir/Debug/actions..7AD52590.tlog/link.write.1.tlog
build/actions.ext.2.l4d2.dir/Debug/actions..7AD52590.tlog/link.read.1.tlog
build/actions.ext.2.l4d2.dir/Debug/actions..7AD52590.tlog/link.command.1.tlog
build/actions.ext.2.l4d2.dir/Debug/actions..7AD52590.tlog/CustomBuild.write.1.tlog
build/actions.ext.2.l4d2.dir/Debug/actions..7AD52590.tlog/CustomBuild.read.1.tlog
build/actions.ext.2.l4d2.dir/Debug/actions..7AD52590.tlog/CustomBuild.command.1.tlog
build/actions.ext.2.l4d2.dir/Debug/actions..7AD52590.tlog/CL.write.1.tlog
build/actions.ext.2.l4d2.dir/Debug/actions..7AD52590.tlog/CL.read.1.tlog
build/actions.ext.2.l4d2.dir/Debug/actions..7AD52590.tlog/CL.command.1.tlog
build/actions.ext.2.l4d2.dir/Debug/actions..7AD52590.tlog/actions.ext.2.l4d2.write.1u.tlog
build/actions.ext.2.l4d2.dir/Debug/actions..7AD52590.tlog/actions.ext.2.l4d2.lastbuildstate
*.dll
*.obj
*.recipe
*.tlog
*.lastbuildstate
